<h1>New Project</h1>

<%= form_for @project do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.select(:status, ["live","complete","archived"] ) %>
  </div>
  <div class="field">
    <%= f.label :outcome %>
    <%= f.text_area :outcome %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

